<!DOCTYPE HTML> 
<html> 
<head> 
<meta charset="utf-8"> 
<title> rock506 </title> 
<link href="css/bootstrap.css" rel="stylesheet">
<link href="css/logo.css" rel="stylesheet">
<link href="css/rss.css" rel="stylesheet">
<style>
html,body{ width:100%; height:100%; margin:0; padding:0; }
</style>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="span10" id="feed"></div>
        <div class="span4"></div>
    </div>
</div>
<script src="https://www.google.com/jsapi?key=ABQIAAAAftWTL2xH16u0mao2qUK-_BRsk3qQPXj2vFecBxKMTXFrpq-LdRT015T4Y7ei-EpVg-5x3GSxSUe_ng" type="text/javascript"></script>
<script type="text/javascript" src="js/jquery-1.6.4.min.js"></script>
<script type="text/javascript" src="js/underscore-1.1.6.js"></script>
<script type="text/javascript" src="js/backbone.js"></script>
<script type="text/template" id="logo-template">
<div id="logo-506">
    <div class="part part-5">
        <span class="item-1"></span>
        <span class="item-2"></span>
        <span class="item-3"></span>
        <span class="item-4"></span>
    </div>
    <div class="part part-6">
        <span class="item-1"></span>
        <span class="item-2"></span>
        <span class="item-3"></span>
        <span class="item-4"></span>
    </div>
</div>
</script>
<script type="text/template" id="rss-item-template">
<a href="###" rss-url="<%= url %>"><%= name %></a>
</script>
<script type="text/template" id="rss-content-template">
<img class="thumbnail" width="210" height="150" <%= img %>/><div><h2><%= title %></h2><%= content %></div>
</script>
<script type="text/template" id="rss-template">
<div id="rss">
    <input type="text" id="inp_rss"/>
    <input type="button" id="inp_rss" value="add" class="btn"/>
    <ul id="list_rss"></ul>
    <div id="article_rss"></div>
</div>
</script>
<script type="text/javascript">
var App = {
    Models:{},
    Views:{},
    Collections:{}
};
</script>
<script type="text/javascript" src="js/logo.js"></script>
<script type="text/javascript" src="js/rss.js"></script>
<script language="Javascript" type="text/javascript">
google.load("feeds", "1");
google.setOnLoadCallback(function(){
    collection.add([
        {name:'JKisJK',url:'http://www.cnblogs.com/jkisjk/rss.aspx'},
        {name:'rock506',url:'http://www.cnblogs.com/rock506/rss.aspx'}
    ]);
});
</script>
  </body>
</html>
