<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="/">Rock506的博客</a>
      <div class="nav-collapse">
        <ul class="nav">
          <li id="nav-home"><a href="/">Home</a></li>
          <li id="nav-blog"><a href="/blog/">Blog</a></li>
          <li id="nav-categories"><a href="/blog/categories.html">Categories</a></li>
          <li id="nav-tags"><a href="/blog/tags.html">Tags</a></li>
          <li id="nav-demos"><a href="/demos/" target="_blank">Demos</a></li>
          <!--<li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Test<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li><a href="#">Separated link</a></li>
            </ul>
          </li>-->
          <li id="nav-about"><a href="/about/">About</a></li>
          <li><a href="javascript:;" onclick="var media=$('#media')[0],icon=$('i',this);if(media.paused){media.play();icon.addClass('icon-volume-up').removeClass('icon-volume-off');}else{media.pause();icon.addClass('icon-volume-off').removeClass('icon-volume-up');}"><i class="icon-volume-off icon-white"></i><audio id="media" src="/assets/music/bg.mp3"></audio></a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>