---
layout: framework
title:  About
---
{% include nav.html %}
<div class="container">
  <div class="row-fluid">
    <div class="span2">  
    <script src="http://img3.douban.com/js/packed_radiowidget_plain6002010748.js?doubanid=44663739&maxresults=8&color=0"></script>   
    </div>
    <div class="span4">    
      <div class="well" style="margin:32px 0;">    
        <ul class="nav nav-list">
          <li class="nav-header">关注我</li>
          <li><a href="{{ site.author.weibo }}" target="_blank"><strong>微博：</strong>{{ site.author.weibo }}</a></li>
          <li><a href="{{ site.author.pengyou }}" target="_blank"><strong>朋友：</strong>{{ site.author.pengyou }}</a></li>
          <li><a href="{{ site.author.renren }}" target="_blank"><strong>人人：</strong>{{ site.author.renren }}</a></li>
          <li><a href="{{ site.author.douban }}" target="_blank"><strong>豆瓣：</strong>{{ site.author.douban }}</a></li>
        </ul>
      </div>
      <!--微博-->
      {% include weibo.html %}
      <!--/微博-->
    </div>
    <div class="span2">   
      <div style="margin:26px 0;"> 
        <script type="text/javascript" src="http://www.douban.com/service/badge/rock506/?show=collection&amp;n=8&amp;columns=2&amp;hideself=yes&amp;cat=movie|book|music" ></script>
      </div>
    </div>
    <div class="span4">
      <div style="padding:30px 0;">
        <iframe frameborder="0" scrolling="no" src="http://show.v.t.qq.com/index.php?c=show&a=index&n=rock506&w=0&h=552&fl=2&l=30&o=29&co=0" width="100%" height="552"></iframe>
      </div>
    </div>
  </div>
  {% include footer.html %}
</div>